*
!.gitignore

# 只保留这些目录里的 .py
!*.py
!models/
!utils/
!models/quantization_utils/
!models/fx_quant/
!models/fx_quant/quantization_utils/
!/models/**/*.py
!/utils/**/*.py

# simple_test 目录下保留所有文件
!simple_test/
!/simple_test/*

!trt_model/
!trt_model/module/
!trt_model/module/custom_op/
!trt_model/plugins/
!trt_model/*
!trt_model/module/*
!trt_model/module/custom_op/*
!trt_model/plugins/*

!typings/
!/typings/*

!dataset_prepare/
!dataset_prepare/*

!script.sh
!I-Vit.pdf